[2020-02-25 13:27] Quafadas opened #4 "How to use config options with readRemoteFile?"
I can't get this to work.

Any hints?

`        const configOptions = {header: true, dynamicTyping: true};

        readRemoteFile(
            default, configOptions,
            {
                complete: function (results) {
                    console.log(results);
                    console.log(results.data[0]);
                    console.log(results.data[1]);
                }

[2020-02-26 11:00] Bunlong commented on #4
@Quafadas please try the following format. Thanks!

[code]

[2020-02-27 10:15] Bunlong commented on #4
@Quafadas if it work please kindly let us know. Thanks!

[2020-02-27 19:42] Quafadas commented on #4
Yes!

Worked great. Thanks :-).

[2020-02-27 19:42] #4 closed

[2020-02-28 01:41] Bunlong commented on #4
@Quafadas You are very welcome. Thanks :-)

[2020-03-11 02:29] grapes323 opened #6 "Trying to get correct JSON format (`header:true`) of uploaded CSV file"
Documentation is not consistent with code. Should be `config` instead of `configOptions` and `onFileLoad` instead of `onFileLoaded`.
Code in Read.me section Header row support
[code]

[2020-03-12 15:17] Bunlong commented on #6
@grapes323 I've updated the docs. Thank you for correction.

[2020-03-12 15:49] Bunlong commented on #6
@grapes323 Could we close the issue? Thanks!

[2020-03-12 19:17] #6 closed

[2020-03-14 21:07] seanblonien opened #8 "API change with minor version upgrade"
I recently updated my npm packages and react-paparse updated from version 2.0.2 to version 2.1.3.

The problem is the minor update is very non-compliant with the [NPM versioning](https://docs.npmjs.com/about-semantic-versioning).

The props changed for the CSVReader component and was not backwards compatible (which it should be if only updating minor version).

[2020-03-15 02:52] Bunlong commented on #8
@seanblonien We made changes on some features and props name to be consistent with the components and we did not made changes the whole of the API the reason why we decided only updating minor version. Anyway we corrected it. Thank you so much for your feedback and contribution. Thanks!

[2020-03-15 04:40] seanblonien commented on #8
Ok great, thanks!

[2020-03-15 04:40] #8 closed

[2020-03-20 05:19] apoorvmote opened #9 "Typescript definition support"
I get following error when I import
[code]

[2020-03-31 23:41] AgmarTorres commented on #9
Please, try this in package.json :
 Update:
  "main": "dist/index.js",
To:
"main": "dist/index"

[2020-04-01 02:31] apoorvmote commented on #9
I am using 2 different other libraries at the moment. One for reading csv and one for exporting csv. They both have typescript support. But would love to just use one instead of two. So not looking for hacky solution. I will wait for `@types/react-papaparse`

[2020-04-01 10:22] ilgincamoglu opened #11 "How to remove uploaded file"
Hi! I am using CSVReader Click and Drag upload. I want to have a functionality to cancel uploaded file. Meaning when I click an another button I want uploaded file to be removed from CSVReader. Is there such functionality? I couldn't find it

[2020-04-11 15:09] Bunlong commented on #11
@ilgincamoglu `react-papaparse` version 3.0.3 has been released with cancel or remove functionality. Please kindly check. Could we close the issue? Thanks!

[2020-04-11 15:25] ilgincamoglu commented on #11
Yes this is great, thanks!

[2020-04-11 15:25] #11 closed

[2020-04-11 15:49] Bunlong commented on #11
You are welcome. Thank you so much for the feedback and contribution. Thanks!

[2020-04-15 07:07] jayankaghosh opened #14 "this.buttonRef.current.removeFile is not a function"
I tried deleting the selected file, on click of a button. Like so,

    if (buttonRef.current) {
      buttonRef.current.removeFile(e)
    }

But the error `this.buttonRef.current.removeFile is not a function` came up. Upon further inspection, I saw that the `removeFile` function is not present in the ref. How to remove a file then?

[2020-04-15 11:44] jayankaghosh commented on #14
Nevermind. I was using and old version

[2020-04-15 11:44] #14 closed

[2020-04-21 01:03] timtutt opened #15 "Preview Config Option Causes Data Not To Load"
Hi -

Just started toying around with react-papaparse, and was trying to pass in the `preview` options into the config for papa parse like below:

[code]

Unfortunately when `preview` is passed my `handleOnDrop` function is never called. When I remove that option everything works as expected. Am I missing something with this particular functionality?

[2020-04-22 03:09] Bunlong commented on #15
@timtutt I will fix it, when it done I will let you know. Thanks!

[2020-04-22 03:42] SananGuliyev opened #17 "downloadRequestHeaders config does not work"
Hi,

I am trying to read data from s3 and due to CORS I have to add `Origin` header but it looks like it's not setting the header as expected in Chrome. I now it should be added by default by browser but I do not see any origin header in the network tab.

Chrome: does not work
Safari: Refused to set unsafe header "Origin"
Opera: works but gives error `papaparse.js:699 Refused to get unsafe header

[2020-04-22 16:37] Bunlong commented on #17
@SananGuliyev The problem is you haven't  allowed origin header on amazon s3. You can follow this [guidance](https://aws.amazon.com/premiumsupport/knowledge-center/no-access-control-allow-origin-error) to solve this problem. If it works please let me know. Thanks!

[2020-04-22 16:41] SananGuliyev commented on #17
I already added the CORS configuration to S3. It's an issue on Chrome level. I disabled out of blink on Chrome and it's gone.

Do you have any idea about `Refused to get unsafe header "Content-Range"` this error?

[2020-04-22 17:23] Bunlong commented on #17
@SananGuliyev Could you please follow this [guidance](https://docs.aws.amazon.com/AmazonS3/latest/user-guide/add-cors-configuration.html) and try the following CORES configuration:

[code]

[2020-04-22 21:31] SananGuliyev commented on #17
Thanks. I will try to expose headers, too.

[2020-04-22 21:31] #17 closed

[2020-04-23 12:53] Eptis commented on #15
Having the same issue but without drag-and-drop. Let me know If I can help fix it.

[2020-04-23 16:39] Bunlong commented on #17
@SananGuliyev Yes, you are welcome. Thanks!

[2020-04-24 02:22] Bunlong commented on #15
@Eptis Yes, you can help to fix it.

[2020-04-30 18:02] Bunlong commented on #15
@timtutt @Eptis react-papaparse version 3.1.2 has been released with fixing `Preview Config Option Causes Data Not To Load`. Please kindly check. Could we close the issue? Thanks!

[2020-04-30 18:14] Bunlong opened #20 "useHook"
## Feature

Create useHook component in the future.

[2020-04-30 18:15] Bunlong opened #21 "Design More New Templates"

[2020-04-30 18:48] timtutt commented on #15
Just updated locally, tested and verified! Thanks much.

[2020-04-30 18:48] #15 closed

[2020-05-01 00:48] Bunlong commented on #15
@timtutt You are welcome. Thanks!

[2020-05-10 04:55] Bunlong commented on #9
@apoorvmote @AgmarTorres react-papaparse v3.2.1 has been released which support both JavaScript & TypeScript. Thanks!

[2020-05-10 04:56] Bunlong commented on #9
@apoorvmote @AgmarTorres Could we close this issue? Thanks!

[2020-05-10 11:11] #9 closed

[2020-05-12 13:33] pkuppens commented on #21
A template that I'd love is one that allows multiple CSV files.
The resulting state could be a dictionary where key = filename and value = the csv file.

[2020-05-15 01:12] Bunlong commented on #21
@pkuppens Well, I got it. I'm working on it and I will finish it as soon as possible. I will let you know when it done. Thank you so much!

[2020-05-15 10:16] baymac opened #23 "Unable to parse column names of certain type"
For example, table names with `s.table`, `s.process` are returned with undefined issues as `s` is being treated as an object and not as a string. Also error is on emitted in onError. So component crashes.

[2020-05-16 19:26] bugzpodder opened #24 "dark mode cannot read default template"
<img width="898" alt="Screen Shot 2020-05-16 at 12 23 46 PM" src="https://user-images.githubusercontent.com/14841421/82128448-291b2e80-9770-11ea-9b56-c5e287c5fab4.png">

Also, can we optionally disable progressbar and fileSize?

[2020-05-16 19:28] bugzpodder opened #25 "controlled input"
provide a way to control the upload.
For example if I reset the form I want to clear the upload file programatically.

[2020-05-16 21:58] bugzpodder opened #26 "allow disabled/error states"
have props that allow it to be error state (red border).
have props that allow it to be disabled.

[2020-05-17 06:38] bugzpodder commented on #25
I was able to add a key prop to unmount the component to get around this.

[2020-05-17 06:44] bugzpodder opened #27 "disable progress bar"
even with child as a function i can't disable to progress bar

[2020-05-17 07:09] bugzpodder commented on #27
was able to override complete/step function to remove progress bar

[2020-05-19 05:06] Bunlong commented on #27
@bugzpodder Thank you so much for you feedback. Could I add you to the contributors list?

[2020-05-19 06:49] bugzpodder commented on #27
ok

[2020-05-19 08:36] Bunlong commented on #27
@bugzpodder you are added to contributor list. Thanks!

[2020-05-26 13:27] Bunlong commented on #27
@bugzpodder react-papaparse v3.3.0 has been released with `disable progress bar`. Please kindly check. Thanks!

[2020-05-26 18:27] bugzpodder commented on #27
thanks!

[2020-05-26 18:27] #27 closed

[2020-06-18 08:31] simon-musy opened #30 "The Local File demo is not outputting anything in the console"
In the demo as well as locally, the following code does not output anything when uploading a file.
[code]
Am I missing something? The string parsing demo works like a charm

[2020-06-18 09:45] Bunlong commented on #30
Hi @simon-musy

I get a try on [codesandbox](https://codesandbox.io/s/react-papaparse-kubj5), it works.

![Screenshot from 2020-06-18 16-40-29](https://user-images.githubusercontent.com/1308397/85005035-75e49180-b182-11ea-99b2-42c701a6f0af.png)

It also work on demo but don't forget to click Parse button.

![Screenshot from 2020-06-18 16-44-35](https://user-images.githubusercontent.com/1308397/850

[2020-06-18 10:13] simon-musy commented on #30
Hi @Bunlong, my bad, I thought the handleOnDrop was supposed to output something when uploading the file.

Thanks for the quick reply!

[2020-06-18 10:13] #30 closed

[2020-06-18 12:16] Bunlong commented on #30
Hi @simon-musy You are very welcome. Thank you so much :bowing_man:

[2020-06-30 02:09] mergingseas opened #32 "error when running "npm run build""
when running **npm run build** I get the following error:

Creating an optimized production build...
Failed to compile.

Failed to minify the code from this file:

 	./node_modules/react-papaparse/dist/react-papaparse.es.js:13:28612

My setup is using create-react-app and node v8 and node v13 was tried

[2020-06-30 16:39] mysticaltech opened #33 "Change color remove button"
Hello, thank you for this nice helper lib on top of papa parse, really practical. How can I change the color of the remove button?

I want to change the red color and disable the hover effect. I know it is SVG and that the color is set with **fill** attribute of path, but don't really know how to change it. Any help would be really appreciated! Thanks 🙏🏻

[2020-07-01 18:14] Bunlong commented on #33
@mysticaltech react-papaparse v3.4.0 has been released with the following changes please kindly check. Thanks!

### Minor

* Upgrade papaparse to latest version
* Add removeButtonColor property to CSVReader

### Example

[code]

[2020-07-02 08:45] Bunlong commented on #33
@mysticaltech You are very welcome. Thanks!

[2020-07-02 13:48] Bunlong commented on #32
@mergingseas Could you please try to install `react-papaparse` v.3.4.0 which is the latest version? Thanks!

[2020-07-02 14:26] mergingseas commented on #32
Hi Bunlong, I upgraded to the new version of v3.4 and I still get the same:
Creating an optimized production build...
Failed to compile.

Failed to minify the code from this file:

 	./node_modules/react-papaparse/dist/react-papaparse.es.js:13:28612

[2020-07-02 16:41] Bunlong commented on #32
@mergingseas I just checked with `create-react-app` and it works in my local. Could you try with node v12.3.1 and npm 6.14.5 ?

[2020-07-09 01:19] #32 closed

[2020-07-11 17:03] takebo opened #34 "Customize UI"
Is there a way to customize the styles of the components?
Especially on the drag and drop, i want to customize the box that shows up with the filename, progress bar, etc

[2020-07-13 20:43] maumont opened #35 "IE - Syntax Error: class"
Hi there,

I'm integrating this library within my React project but it breaks in Internet Explorer 11, I thought something was wrong with my implementation but found out that even if you open [your demo page](https://react-papaparse.js.org/demo) in Internet Explorer 11 it breaks too.

Digging a bit I found the issue comes from using `class` straight away in one of your `dist` files, you can check

[2020-07-14 12:43] glinkot commented on #34
Yes, I'm here for the same reason.  Looking at csvreader.tsx, the very narrow width (100px) of the filename box looks strange and I'd like to widen it and get rid of the gradient.  I tried various things like the below, hoping I could modify the dropFile part of the internal 'styles' object, but no success so far.  Any thoughts would be great!

`  const myStyle = {
        dropFile: {

[2020-07-16 01:27] Bunlong commented on #34
@takebo @glinkot Well, I will check it and release it for the next version next week. Anyway could I add you in the contributors list?

[2020-07-16 01:29] Bunlong commented on #35
@maumont Well, I will check it. Anyway could I add you in the contributors list?

[2020-07-16 01:31] Bunlong commented on #23
@baymac I'm sorry for late. What was the issue now? Could you give me more detail?

[2020-07-16 06:47] #23 closed

[2020-07-16 12:21] takebo commented on #34
@Bunlong Nice, thank you. Sure, i wouldn't mind.

[2020-07-16 20:58] glinkot commented on #34
Sure!  Thanks :)

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Bruno <notifications@github.com>
Sent: Thursday, July 16, 2020 10:21:21 PM
To: Bunlong/react-papaparse <react-papaparse@noreply.github.com>
Cc: glinkot <foley.mark@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Bunlong/react-papaparse] Customize UI (#34)

@Bunlong<https://githu

[2020-07-23 06:12] jayanty3 opened #37 "how validate csv file only"

[2020-07-27 05:38] glinkot commented on #34
Hi @Bunlong, any luck putting this small change in?  I'd rather not bugger about forking it just to change that one line 👍.

My app looks great except for the big weird grey box in the middle...

Thanks for your help

[2020-07-27 18:03] Bunlong commented on #34
@glinkot @takebo Please upgrade react-papaparse to latest version (3.5.0) and check the following wiki to customize CSVReader. You were added to contributors list. Thanks!

react-papaparse v3.5.0 has been released!

Minor version with the following changes:

* Enable to customize CSVReader (Drag Upload) dropFile style

Wiki:

* [How to customize CSVReader (Drag Upload) dropFile style?](https://git

[2020-07-27 23:15] glinkot commented on #34
Fantastic, thanks so much for that!  I'll check this out tomorrow morning,
looking forward to it.

On Tue, 28 Jul 2020 at 04:03, Bunlong VAN <notifications@github.com> wrote:

[2020-07-28 12:27] takebo commented on #34
That is awesome @Bunlong ! Thanks alot!

[2020-07-29 01:45] Bunlong commented on #34
@takebo @glinkot You are very welcome. Could we close the issue? Thanks!

[2020-07-29 01:50] glinkot commented on #34
Yes, for sure.  Thanks again.

[2020-07-29 03:45] Bunlong commented on #34
@glinkot You are very welcome. Thanks!

[2020-07-29 03:45] #34 closed

[2020-07-29 03:47] Bunlong commented on #37
@jayanty3 I don't get your point. Could you pls give me more detail? Thanks!

[2020-07-29 13:15] samuelhulla opened #39 "Proposal: Customizable progress bar"
**Proposal**: Customizable progress bar

**Reasoning**: At the moment it feels clunky to only be able to pass boolean to `noProgressBar` and being able to pass `progressBarColor` as the only means of customization since you can't even detect at the moment when the data was actually passed to `onFileLoad` or `onDrop`

- Option 1: **Access progress value directly from child render function**

   The

[2020-07-30 14:19] Bunlong commented on #39
@samuelhulla Do you have some ideas of dropFile style?

[2020-07-30 19:58] samuelhulla commented on #39
@Bunlong  sorry, what exactly do you mean by "idea of dropFile style" ?

[2020-07-30 23:56] pleavitt opened #40 "Customise dropArea"
Can you add the ability to customise the dropArea using the style prop?

[2020-07-31 15:50] Bunlong commented on #39
@samuelhulla It's okay, That's good proposal. We will implement it for the next version or you can join us to implement it. Could I add you in the contributor list?

[2020-07-31 15:52] Bunlong commented on #40
@pleavitt Thank you so much! Yes, I will implement it for the next version and will be released on Monday. Could I add you to the contributors list?

[2020-07-31 18:35] gtupak commented on #40
Also looking forward to this! 🙌

[2020-08-01 12:20] Bunlong opened #42 "Input string / json then download as CSV file"

[2020-08-01 13:49] Bunlong opened #43 "Upload multiple CSV files for both basic upload and drop upload"

[2020-08-01 16:25] Bunlong commented on #40
@pleavitt @gtupak Please upgrade react-papaparse to latest version (3.6.0) and check the following wiki to customize CSVReader style. Thanks! Could I add you to the contributors list?

react-papaparse v3.6.0 has been released!

Minor version with the following changes:

* Enable to customize CSVReader (Drag Upload) dropArea style
* Improve docs

Wiki:

* [How to customize CSVReader (Drag to Upload

[2020-08-01 16:56] Bunlong opened #44 "Make CSVReader nested class position/ordering to be flexible"
PR: #47

[2020-08-02 08:18] samuelhulla commented on #39
@Bunlong  Yeah sure why not.

[2020-08-03 04:54] Bunlong opened #46 "Add microbundle"

[2020-08-03 07:07] Bunlong commented on #39
@samuelhulla I do appreciate your help and we will merge into the master for next release/version. You are added to the contributor list. Thank you so much!

[2020-08-03 07:11] Bunlong commented on #24
Dear @bugzpodder Thank you so much!

react-papaparse v3.6.0 has been released!

Minor version with the following changes:

* Enable to customize CSVReader (Drag Upload) dropArea style
* Improve docs

Wiki:

* [How to customize CSVReader (Drag to Upload) style?](https://github.com/Bunlong/react-papaparse/wiki/CSVReader-(Drag-to-Upload)-Style)

[2020-08-03 16:40] #40 closed

[2020-08-03 16:43] #24 closed

[2020-08-03 17:44] #44 closed

[2020-08-04 10:48] sakkie6yster opened #48 "React Hook"
Hi Bunlong,

This looks like the perfect solution for a project I am currently working on.
Is there any chance that you will create a React hook version of the CsvReader implementation soon?
Keep up the excellent work!

[2020-08-04 16:18] Bunlong commented on #48
Hi @sakkie6yster,

Yes, sure listed down the new features to create a React hook of CSVReader soon. Thank you for your proposal, anyway could I add you to the contributor list?

[2020-08-04 16:21] sakkie6yster commented on #48
You definitely can, thank you :)

On Tue, Aug 4, 2020 at 6:19 PM Bunlong VAN <notifications@github.com> wrote:

[2020-08-04 16:49] Bunlong commented on #48
@sakkie6yster You are very welcome. Thanks you!

[2020-08-04 16:58] Bunlong commented on #48
@sakkie6yster You are added to contributor list. Thanks you!

[2020-08-04 16:59] #39 closed

[2020-08-04 17:06] sakkie6yster commented on #48
I won't hold you to it, but do you have some idea of when the hook would be
available?
A ballpark figure?

On Tue, Aug 4, 2020 at 6:58 PM Bunlong VAN <notifications@github.com> wrote:

[2020-08-04 17:12] Bunlong commented on #48
@sakkie6yster The hook would be available next month as we have to finish the priority features first like uploading multiple csv files, downloading CSV component, ... etc.

[2020-08-04 17:46] sakkie6yster commented on #48
That is awesome news. Thank you and good luck with all of the priority
features.

On Tue, Aug 4, 2020 at 7:12 PM Bunlong VAN <notifications@github.com> wrote:

[2020-08-04 18:02] Bunlong commented on #48
@sakkie6yster Thank you! You too, have a nice day! Thanks!

[2020-08-07 03:49] renjiie opened #49 "Csv file seperated by commas in a single row makes the browser unresponsive"
When I try to upload a csv file seperated by commas in a single row, the browser becomes unresponsive. But the same file with multiline approach is getting uploaded.
For eg:
This file makes the browser unresponsive
```1234566789, 9877665443, 0987654321 ```
whereas the multiline approach works
[code]
I have used 1 million record

[2020-08-07 09:24] Olovorr commented on #32
I experience the same issue, did you figure out a workaround / fix for this? I am using the latest (3.7.0) version of paparse and react-scripts 3.4.1. @Bunlong @mergingseas

[2020-08-07 12:10] Bunlong commented on #32
@Olovorr What are the create next app version, node version, and npm version in your local environment?

[2020-08-07 12:16] Olovorr commented on #32
Not create next app, but [create react app (CRA)](https://github.com/facebook/create-react-app). The issue is that when building production build, it expects ES5 syntax and not higher. That being said I already created PR for this so unless you have a problem with my solution we probably don't need to dive deeper on this. As far as I know downgrading compiling target version should not cause any i

[2020-08-07 12:21] Bunlong commented on #32
@Olovorr Yes, I got your PR. Okay let me test it and I will merge and deploy to production as soon as possible. Thanks you so much, I do appreciate for your help, could I add you to the contributor list?

[2020-08-07 13:42] Olovorr commented on #32
Sure mate! 🙂

[2020-08-07 18:39] Bunlong commented on #32
@Olovorr react-papaparse v3.7.1 has been released! You were added to contributor list. Thanks!

[2020-08-14 16:25] Bunlong opened #52 "CSVDownloader and Performance"
## react-papaparse v3.8.0

### Draft 1

[code]

### Draft 2

[code]

[2020-08-14 19:19] des09 opened #53 "Cannot find a way to remove a file programatically"
My specific use case is after a successful parse, I want to show an upload form, with a preview of the parsed data. So far so good, but if the upload succeeds, or if the user elects to cancel the form, I want to return to the state things were in before a file was dropped.

I have found your component to be very easy to use so far. Thanks.

[2020-08-17 14:17] OleSkaar opened #54 "Changing highlight color"
Hi! Love papa parse, it's super easy to use. However, I've been struggling to figure out how to style the border-color attribute of the div aroud the input field when you drag a file over the drag and drop (with the dashed lines). It seems to default to purple. I've tried changing style attributes for the CSVreader component, but I can't seem to find anything that relates to this styling. Am I mis

[2020-08-17 15:47] Bunlong commented on #53
@des09 Thank you for your contribution. I will add it in the next release next week. Could I add you in the contributor list? Thanks!

[2020-08-17 16:35] Bunlong commented on #54
@OleSkaar Thank you for your contribution. We missed this point we will add it and release it by tomorrow. Could I add you to the contributors list? Thanks!

[2020-08-17 20:47] OleSkaar commented on #54
@Bunlong Great! Thanks for the quick response. Feel free to add me to the contributor list :)

[2020-08-17 20:48] #54 closed

[2020-08-22 09:03] txm opened #55 "Doesn't support all valid CSV files"
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/907679/evhs-installer-authorisations-log.csv

This is the results of the first column from the first 3 (or 4) rows:

[code]

[2020-08-22 09:07] #55 closed, assigned to nobody

[2020-08-23 02:37] abdulhadi1995 opened #57 "Support in functional Components"
I added the package and followed the Demo to create a drag or click reader. The problem is when i used the component inside my functional component it gives  "cant read onDrag of undefined" error. Does this package not support running on functional components?

[2020-08-23 14:10] #57 closed, assigned to Bunlong

[2020-08-27 14:56] des09 commented on #53
Yes, you may add me as a contributor. Should I look for this in 3.7.4?

[2020-08-30 06:04] Bunlong commented on #53
@des09 You are added to contributor list. Okay we will add remove feature in next version 3.8.0. Thanks you!

[2020-09-03 09:45] mysticaltech commented on #53
I am also looking for this functionality, I need a way to clear the file when some exterior condition changes. Maybe some kind of hook? Really looking forward to this. Thanks and keep up the good work @Bunlong.

[2020-09-03 15:47] naathanbrown opened #59 "Cannot stream or chunk with CSVReader"
Hi,

I am trying to chunk a CSV file on upload with CSVReader using the callback as said in documentation. My current attempt looks like
[code]
Currently the data is never displayed to the console in any way and I cannot understand why?

Any help would be greatly appreciated, thank you!

[2020-09-03 17:34] Bunlong commented on #59
@naathanbrown Please check the [Demo and Source code](https://react-papaparse.js.org/demo). Thanks!

[2020-09-03 17:38] Bunlong commented on #53
@mysticaltech I'v done it in [v3.8.0](https://github.com/Bunlong/react-papaparse/pull/60). I will release it by tomorrow or this week. Thank you so much!

[2020-09-04 04:58] avestaHarsh commented on #53
@Bunlong , It will be greate if you can release this featue as fast as possible. I am waiting for the same.

[2020-09-04 06:09] mysticaltech commented on #53
@Bunlong Thank you, looking forward to it. I love where this project is going! 🙏🏻

[2020-09-04 15:32] naathanbrown commented on #59
@Bunlong Hi thanks for that, I've read all that and I'm still having issues, I realised my whole code snippet did not paste, sorry for this.

[code]

I may be missing something silly and I haven't noticed but any advice will help a lot, thank you!

[2020-09-05 18:13] Bunlong commented on #53
@des09 @mysticaltech @avestaHarsh react-papaparse v3.8.0 has been released with the following features:

* CSVDownloader
* isReset? – Is used to reset CSVReader or remove file in CSVReader

[How to reset CSVReader?](https://react-papaparse.js.org/docs#local-files) – Please look for `isReset` props in the docs.

Thank you so much!

[2020-09-07 16:04] mysticaltech commented on #53
Thank you so much @Bunlong! However I am not able to use it. I have tried to set it up to a boolean value of "true" all the time but everything stays the same as before.

It would make more sense to me if it was **a function or hook** that we could call to reset the component on demand. Maybe a short example would help me understand better how to use it 🙏🏻

[2020-09-08 09:47] HarithaKR opened #62 "using CSVReader is breaking in IE"
![image](https://user-images.githubusercontent.com/23190851/92460906-2bedd380-f1e6-11ea-9b7e-cd06c056e52f.png)
![image](https://user-images.githubusercontent.com/23190851/92460921-327c4b00-f1e6-11ea-8632-4d187c7c83e3.png)
I am using react-papaparse for uploading a csv file in the UI. I use CSVReader component . The page is breaking in IE if I use this component. Screenshot attached. Please assist

[2020-09-09 01:57] Bunlong commented on #53
@mysticaltech

I'm sorry for late reply as I was so busy in few day ago.

Please kindly check [Sample of using CSVReader isSet](https://github.com/Bunlong/react-papaparse/wiki/Sample-of-using-CSVReader-isSet).

I will rewrite exiting based component to hooks in version 4.0.0.

If you have any question feel free to ask me. Thanks :pray:

[2020-09-09 05:38] mysticaltech commented on #53
No problem at all. I thought of doing doing it using state, but instead just set it to "true". But nothing happened but what happened. I guess the problem is that it always stays at the same value of true.

Thank you for your button toggle example above, in that case I would guess that we would need to click twice to make it work, initial state is false, then we click to make it true and reset, th

[2020-09-16 06:04] Tinkvision commented on #59
Same issue for me ;)

[2020-09-18 11:16] karland opened #63 "BOM byte for opening CSV in Excel with UTF8"
Hi, thanks for `react-papaparse`.

After discussing it at https://github.com/mholt/PapaParse/issues/830, I wonder, if you would be willing to add an option for a BOM byte, so that Excel recognizes the CSV directly as UTF8. `react-csv-downloader` is doing it [here](https://github.com/dolezel/react-csv-downloader/blob/038af24fcea3a281f24ff42bb66e40eb3d0bd31d/src/index.tsx#L42-L43), but I would like

[2020-09-18 16:11] Bunlong commented on #63
@karland Okay, I got it. I will add it as soon as possible; In the week maybe. When done I will let you know. Thanks :pray:

[2020-09-18 19:03] karland commented on #63
@Bunlong Wow, great, this is awesome. Thanks a lot.

[2020-09-24 12:29] jacobedawson commented on #37
I think what @jayanty3 is asking is: is there a way to ensure that users only upload .csv files. I would also like to know this - we don't seem to have access to the file extension in order to ignore any non-csv files.

[2020-09-30 05:27] MaxAst commented on #59
same issue here. It looks like the step callback is getting deleted from the config object https://github.com/Bunlong/react-papaparse/blob/master/src/CSVReader.tsx#L280-L288, so that any callback passed as part of the config prop never runs. Or am I missing something?

[2020-09-30 05:56] MaxAst commented on #59
this could fix it: https://github.com/Bunlong/react-papaparse/pull/65

[2020-10-05 06:30] bobbyrinaldy commented on #37
@jacobedawson you can use File Type while you using onFileLoaded function and just give it validation like usual.

for example :
[code]

[2020-10-05 08:49] bobbyrinaldy commented on #59
can someone help me ?
i try to proccess the data after file is completely loaded, but its never working for me.

trying this :

[code]

but sadly, its never triggered, even step is not trigger also.
can someone help me ? because if i used onFileLoaded and set states, it will crash / freeze my browser instead of continue load the files.

[2020-10-05 11:39] jacobedawson commented on #37
Thanks @bobbyrinaldy, much appreciated :)

[2020-10-06 04:03] bobbyrinaldy opened #66 "Config complete and step is not triggered when uploading"
Hello, its a good package to used, very helpfull for me. appreciate it.

but can someone tell me, how to trigger complete and step config ?
because i tried to console.log , but it never show me anything.

nothing on docs are tells me how to do it, im working on local files (not stream)

Goals is, when user finaly success load the files to input, i want to show them the percentage of the progress t

[2020-10-08 06:39] lluisemper opened #67 "[QUESTION]"
Is it posible to change
` dropFileRemoveButton: {
    height: 23,
    position: 'absolute',
    right: 6,
    top: 6,
    width: 23,
  }`
in CSVReader (Drag to Upload) Style. It is not included in the wiki and as wondering if I could modify the dropFileRemoveButton.
Kind Regards
Lluis

[2020-10-15 10:20] #63 closed

[2020-10-17 07:12] Bunlong commented on #67
@lluisemper You can't modify the dropFileRemove at the moment. If you want this feature we will work on it. Thanks!

[2020-10-19 12:55] luuddan opened #68 "CSVDownloader fails to export all data"
Hi!

When I'm using CSVDownloader the exported CSV file contains 59 rows of data of the 330 rows I expect. It's not a huge amount of data, the dowloaded CSV file is 51kb. Do I have to use some kind of stream when downloading larger amounts of data? I've just updated to version 3.9 but that didn't fix it.

Best Regards,

Ludwig

[2020-10-19 13:02] Bunlong commented on #68
@luuddan What kind of error? Could you send me the screenshot?

[2020-10-19 13:04] luuddan commented on #68
Sorry if I was a bit fuzzy in my problem description. I'm not getting any errors, but the problem is that my exported file only is 59 rows of the >330 it should be.

[2020-10-19 13:24] Bunlong commented on #68
@luuddan I just check it at the moment it work fine. Could you please check code again esp the loop?

[2020-10-19 13:44] Bunlong commented on #68
12140 rows, file size: 172kb

![Screenshot from 2020-10-19 20-41-32](https://user-images.githubusercontent.com/1308397/96459004-c7458000-124b-11eb-99d7-9a607e640979.png)

![Screenshot from 2020-10-19 20-42-32](https://user-images.githubusercontent.com/1308397/96459037-d298ab80-124b-11eb-8ee7-3ab7848c6043.png)

[2020-10-19 14:04] luuddan commented on #68
Thank you for the quick responses! I found the error, turns out that some of the data had hashtags, '#', which caused the exporting to stop on that character for some reason. It worked perfectly now when I removed the hashtags

[2020-10-19 14:44] Bunlong commented on #68
@luuddan You are very welcome. Could we close the issue?

[2020-10-19 14:53] luuddan commented on #68
Yeah! Will there be support for hashtags in the future?

[2020-10-21 08:28] luuddan commented on #68
@Bunlong ?

[2020-10-21 16:02] Bunlong commented on #68
@luuddan I'm sorry for late response. Yes, it will support for hashtags in next version v3.9.1 and it will be published next week maybe.

[2020-10-22 15:34] mcgraths7 commented on #66
Also having this issue

[2020-10-27 03:16] toantt28 opened #69 "Add props to change accept type on input element"
Hi, Your repo is great.
But when I'm using this on different OS that I found a bug
This is hard code so it hard for me to change accept type
`accept="text/csv"`
Above Code work fine on MacOS

But on Window10 / Ubuntu it should be this
`accept=".csv, application/vnd.ms-excel, text/csv"`

Could you make a change let user can change it as props?

[2020-11-02 05:21] Bunlong commented on #69
@toantt28 react-papaparse v3.10.0 has been released with accept property is a property to be used to set MIME type for CSV. Default is 'text/csv, .csv, application/vnd.ms-excel'. I would like to close the issue. Thanks!

[2020-11-02 05:21] #69 closed

[2020-11-02 13:47] #59 closed

[2020-12-14 15:42] gerrysaporito opened #73 "Remove/Edit styles to customize div"
Hi,

So I am trying to manipulate the look of the dropzone to fit our sites current theme but I can't manage to do it because the styles are being applied inline. It would be helpful to have a way to customize the dropzone <div /> rather than the <input />.

Hopefully this can be an easy fix.

Thanks

[2021-01-30 16:37] efaves opened #74 "Post raw csv to external API *before* parsing"
Hi there! We are just getting started with react-papaparse and are liking it so far! The one question we have at the moment is whether it is possible to use the Drop Area for csv import, but to post the raw csv file to an external API before continuing with csv parsing.

So, suppose I have a csv on my local machine and want to save the original to a file store (e.g. S3) via an API before continuin

[2021-02-04 12:51] chrys-exaucet commented on #43
Hi,
I request that feature too.

[2021-02-04 12:53] chrys-exaucet commented on #37
Any progress so far?

[2021-03-02 13:00] GhostApps commented on #68
Just want to say this is still broken

[2021-03-24 13:59] HelixHEX opened #75 "How do you setup worker threads with the CSV Reader?"

[2021-04-01 01:31] exaucae opened #76 "jest snapshot of CSV Reader is not resolved: Error: Uncaught TypeError: Cannot read property 'addEventListener' of null"
I have this stack trace while taking a snap of a custom file reader. The component is working well except in this snapshot. It throws this error:

`  console.error
    Error: Uncaught [TypeError: Cannot read property 'removeEventListener' of null]`

Here is my stack

jest@26.6.0
react@17.0.1
typescript@4.2.3

## Steps To Reproduce

[code]

[code]

## The current behavior
Error: Uncaught [TypeError

[2021-04-11 14:02] dimitri-hoareau-WEL opened #78 "encoding issue with CSReader when the csv come from excel"
Hello,

I am having an encoding problem with the CSVReader feature. I am working with a client who use an old version of microsoft excel.
When he save a csv from excel, the generated csv file is apparently not encoded in utf-8 but in Latin1 (iso-8859-1)
Thus, when he uploads his file, the French special characters like "é", "î" ... are replaced by  �

I saw that there was a way to change the encod

[2021-04-11 15:51] Bunlong commented on #78
@dimitri-hoareau-WEL Please try to add `config` props to `CSVReader`. Here is the [docs](https://react-papaparse.js.org/docs#config).

[code]

[2021-04-12 05:02] Bunlong opened #79 "Restructure"

[2021-04-12 08:13] #79 closed

[2021-04-13 13:40] jqrtr opened #80 "CSVDownload - Writing out a # causes crash - Bug?"
I'm creating a CSVDownload and notice if any of my data has a # at the start of the string, it crashes (well, the file output stops at the # character).

See here - File terminates where it should have written out '#123456'
![image](https://user-images.githubusercontent.com/54841915/114561896-ea367700-9c65-11eb-96ac-50020754e972.png)

If I remove the # from the string in my data generation, the fi

[2021-04-14 11:07] dimitri-hoareau-WEL commented on #78
It's working ! thank you

[2021-04-14 11:07] #78 closed

[2021-04-14 17:20] Bunlong commented on #78
@dimitri-hoareau-WEL You are welcome. Thank you!

[2021-04-14 17:45] Bunlong commented on #80
@jqrtr react-papaparse v3.12.1 has been released. It has been fixed. You were added in contributors list. Thank you so much!

[2021-04-19 13:09] dimitri-hoareau-WEL opened #82 "How to detect the encoding of the loaded file before displaying data ?"
Hi !

I had a problem  for displaying special characters with CVSReader due to csv files which were encoded as ISO-8859-1 instead of utf-8 (ex : Pyr�n�es-Atlantiques )

By adding :

[code]
in my code it's working, the browser can now read special characters without problems. But the new problem is when loading a file encoded in utf-8, the characters are not displayed properly (ex : PyrÃ©nÃ©es-Atla

[2021-04-20 16:59] Bunlong commented on #82
@dimitri-hoareau-WEL Would you like to check data of the file is UTF-8 or ISO-8859-1 before upload?

[2021-04-20 17:02] Bunlong commented on #74
@efaves This functionality not yet exist. It will be in next version. Thanks!

[2021-04-20 17:09] Bunlong commented on #75
@HelixHEX Please add config props to `CSVReader` with `worker: true`. Thanks!

[code]

[2021-04-20 17:13] Bunlong commented on #76
@chrys-exaucet I will investigate on it. Thanks!

[2021-04-21 09:37] elias-thok commented on #74
Hi!

I would need such a feature as well. We have a CSV-file that wraps each string into 2 double quotes and thus the delimiter is not detectable.
So I would need to remove all quotes from each (or the whole file) line before parsing.
Is there any way to accomplish that?

Thanks!

[2021-04-23 15:27] dimitri-hoareau-WEL commented on #82
Yes ! I wanted to know if it's possible to do that ?

[2021-05-02 18:31] exaucae commented on #76
@Bunlong, ping.

[2021-05-17 12:12] luuddan opened #84 "Adding "sep=," to csv file to solve locality issue"
When downloading the CSV file, Excel doesn't recognise the separator when european locations are set.

Would it be possible to add a single line with "sep=," to the csv file to solve this?

Can see a guide for the issue here: https://support.affinity.co/hc/en-us/articles/360044453711-How-to-open-CSV-files-with-the-correct-delimiter-separator

Best Regards,

Ludwig Hedlund

[2021-05-18 10:36] deekshithmr95 commented on #43
Hi,
I too request this feature.

[2021-05-31 09:06] #80 closed

[2021-05-31 09:07] #75 closed

[2021-05-31 09:11] Bunlong commented on #62
Internet Explorer is no longer supported so I would like to close this issue.

[2021-05-31 09:11] #62 closed

[2021-05-31 09:20] Bunlong commented on #68
@GhostApps Could you please try the latest version?

[2021-05-31 09:24] Bunlong commented on #37
@exaucae Could you try bobbyrinaldy solution?

[2021-05-31 10:15] exaucae commented on #37
Yes, I did.  It means we have to enforce file type by writing custom logic. It would have been nice to have it built in.

[2021-05-31 15:04] Bunlong opened #85 "Add config props to CSVDownloader"

[2021-06-02 15:59] #85 closed

[2021-06-04 17:03] Bunlong commented on #76
@exaucae It was fixed in latest version 3.16.0, please kindly check. You were added in contributor list. Thanks!

[2021-06-04 22:12] exaucae commented on #76
Ack!  Thanks for the feedback. We can safely close this issue.

[2021-06-06 06:10] Bunlong commented on #76
Yes, sure. Thank you so much!

[2021-06-06 06:11] #76 closed

[2021-06-08 12:53] stefee opened #88 "CSVReader state updated after file load, even if noProgressBar is true"
We encountered this error in our project:

<img width="1528" alt="Screenshot 2021-06-08 at 1 28 46 pm" src="https://user-images.githubusercontent.com/18026180/121188142-b8eeb780-c860-11eb-8176-bb091495c10b.png">

We tracked down the error to the user closing a file loading modal too quickly after loading the file, because the CSVReader was updating internal state using `setTimeout`.

We expected t

[2021-06-08 16:42] #88 closed

[2021-06-16 07:55] luuddan commented on #82
Hi!

I am having the same issue, is this being worked on?

[2021-07-04 18:26] seans84 opened #90 "Expose dropFileRemoveButton styles in style interface"
Here: https://github.com/Bunlong/react-papaparse/blob/master/src/CSVReader.tsx#L442 and https://github.com/Bunlong/react-papaparse/blob/master/src/CSVReader.tsx#L456 can you expose the option to pass in `dropFileRemoveButton` styling from the styles config?

I would like to position the remove button differently, but currently it is impossible to access it.

Something like this I think would work

[2021-07-07 20:53] Stoneshishang commented on #73
Hello @Bunlong , I love React-Papaparser. but I'm having difficulties to fully customize it, even though you provided a [link ](https://github.com/Bunlong/react-papaparse/wiki/CSVReader-(Drag-to-Upload)-Style) for it.
for example, I  would like to move the remove button to the right side of the box and inline with the fileName.  then I with to make the file size inline with the file name as well.

[2021-07-09 14:48] #26 closed

[2021-07-09 14:48] #25 closed

[2021-07-14 14:43] jacobdubail opened #91 "Typescript buttonRef.current?.removeFile(e) possibly undefined"
Hi,

I'm running react-papaparse 3.16.1 and @types/papaparse 5.2.6

When I add
[code]
in a callback, I get the following Typescript error:

[code]

I am basing my component on this:
https://github.com/Bunlong/react-papaparse/blob/1709ffb76e9fcd356592474126d57effc4388cb8/demo/CSVReader1.js#L35

Any idea how I can resolve this one?

Thank you!

[2021-07-15 16:39] BirdTho opened #92 "CSVDownloader data should accept callback to reduce computation"
I have a scenario where I want to make a list of results downloadable based on test output.
During output though, there's no marker for the 'end' of the test, it could be saved at any point.
In that, I have something like this:

[code]

`data={}` doesn't accept a function or callback. Because I'd only like to calculate this data on click.

[2021-07-29 00:27] #92 closed

[2021-08-04 17:21] exaucae opened #94 "Support fro xls files"
Is it planned to support xls file  any soon in the roadmap?

[2021-08-13 03:50] TimJJTing commented on #90
Also need this feature!

[2021-08-25 14:16] Bunlong opened #96 "Upgrade dependencies"

[2021-08-28 00:37] thewordisbird opened #97 "Typescript ParseResult Type"
With headers set to true in the config for the CSVReader component, the ParseResult type for the data doesn't match the provided output when the config prop has `{header: true}`. This is described in "The Parse Result Object" section of the docs:

but is not addressed in the type definition as the ParseResult interface only provides a data type  of T[] for the ParseResult Object data and has no op

[2021-09-07 00:56] exaucae commented on #49
@renjiie,
 Had you activated the header prop, when using single line?

[2021-09-07 01:00] exaucae commented on #82
I may send a pull request in the coming weeks!

[2021-09-29 17:33] Graveheart opened #99 "Wrong Typescript CSVDownloader config type"
I've noticed that in the typescript file the CSVDownloader accepts a config of type `ParseConfig<T>`, but the download method calls `Papaparse.unparse`, therefore it should be of type `UnparseConfig`.
I know it's a small change but right now you get a typescript error when you pass the correct format of the config.

[2021-10-01 18:29] fcpauldiaz commented on #43
any updates on this?

[2021-10-13 10:57] andirkh commented on #82
@exaucae would you mind sharing any update? I'm having this issue as well

[2021-10-28 01:16] eliotstock opened #101 "Attempted import error: 'react-papaparse' does not contain a default export (imported as 'readRemoteFile')."
Steps to repro:

Create a Create React App (CRA) project
`npm install react-papaparse --save`
In App.tsx:
[code]
`npm start`
Error in browser: `Attempted import error: 'react-papaparse' does not contain a default export (imported as 'readRemoteFile').`

[2021-11-05 04:52] #99 closed

[2021-11-05 06:30] Bunlong commented on #97
@thewordisbird It's was fixed. Please install the last version `3.18.0`. Thanks!

[2021-11-05 06:32] Bunlong commented on #101
@eliotstock

Please try the following importing.

[code]

Thanks!

[2021-11-05 14:13] sunrisep12 opened #104 "readString: An argument for 'config' was not provided"
I've been using this library for a while but from today it started throwing an error at `readString()`. I have this `const parsedCsv = readString(csvString);` from which, later on, I grab `parsedCsv.data` and `parsedCsv.meta.delimiter` for my purposes. But now, I can't do that as I get an error that says `An argument for 'config' was not provided.`. Is there a way to set this config to `null` and

[2021-11-05 14:29] Bunlong commented on #104
@sunrisep12

`readString` API was changed in latest version `3.18.0` as following:

[code]

Please kindly check the docs on [readme](https://github.com/Bunlong/react-papaparse) or [website](https://react-papaparse.js.org/). Thanks!

[2021-11-12 22:29] kenlim opened #105 "Parse result does not match base Papaparse result interface"
Hello,

When parsing a simple file with the header option set to true, I receive a result that looks like this:

[code]

Is this intended behaviour? Or am I missing something?

I have an example of the problem here: https://codesandbox.io/s/peaceful-forest-tj6br?file=/src/CsvReader.js

[2021-11-18 13:56] Bunlong commented on #105
@kenlim

Yes, this is intended behaviour and I consider to follow the original one in version `react-papaparse 4.0`. Thanks!

[2021-11-24 16:25] Flavsditz commented on #68
Hi I am using version 5.3.1 and I am still experiencing issues with this.

[2021-11-24 17:47] Bunlong commented on #104
@flowerbot @sunrisep12

`radString` API has been changed from:

[code]

To

[code]

[2021-11-29 15:20] kellynauert commented on #43
Are there plans to implement this?

[2021-11-29 16:29] Bunlong commented on #43
Dear All @kellynauert @fcpauldiaz @deekshithmr95 @exaucae

This feature is in [progress v4.0.0](https://github.com/Bunlong/react-papaparse/pull/98)

Thanks!

[2021-11-29 16:31] Bunlong opened #106 "v4.0.0"
### Features

* [ ] Improve code performance
* [ ] Improve using styles ( Cascading Style Sheets )
   * [ ] Props style
   * [ ] Class style
* [ ] Rewrite any existing based components to hooks
   * [x] usePapaParse
      * [x] readString
      * [x] readRemoteFile
      * [x] jsonToCSV
   * [x] useCSVDownloader
      * [x] api
      * [x] CSVDownloader
      * [x] Type
   * [ ] useCSVReader

[2021-12-11 14:30] rawatmanoj opened #107 "Space in column name"
I need to give space in the column name. It's not working when keys have spaces in them

[2021-12-15 05:40] bdata42 opened #109 "Remote URL complete doesn't fire"
Hi there,

This could very much be something dumb I'm doing.

But for me, the remote URL fetch completely fails.

As in, the `complete` callback never fires.

[Check out my attached Codesandbox](https://codesandbox.io/s/amazing-albattani-lflo6?file=/src/App.js:0-528). Code for brevity below:

[code]

[2021-12-15 18:17] plotka commented on #104
I was also struggling with this after the update. Looks like the docs are not up to date here https://react-papaparse.js.org/docs#strings.
Also, why is `worker` a required prop if it should be always `true`, in this case?

[2021-12-20 23:27] #109 closed

[2021-12-21 14:49] Angelfire opened #110 "Validate file type on Drop"
`accept` attribute only works if you try to upload a file using the input HTML element, but if you try to drop an `image/png` the `CSVReader` doesn't throw an error, the validation can be made easily:

[code]

I would love to be able to submit a PR but I have no idea about TS

[2021-12-23 18:44] ax0n-pr1me opened #111 "Webpack v5 compatibility"
Greetings

webpack v5 no longer includes polyfills by default and this breaks the react-papaparse v3 package.

[code]

[2021-12-28 03:27] ray-vgw commented on #111
Same here for me.

[2021-12-28 14:29] Bunlong commented on #111
@ax0n-pr1me @ray-vgw

If you were a direct user of webpack v4, upgrading to v5, you have a few options:

1. stay on v4
2. remove usage of polyfilled modules
3. add polyfills

Reference: [https://webpack.js.org/blog/2020-10-10-webpack-5-release/#automatic-nodejs-polyfills-removed](https://webpack.js.org/blog/2020-10-10-webpack-5-release/#automatic-nodejs-polyfills-removed).

Here are the polyfills

[2021-12-31 00:29] ax0n-pr1me commented on #111
Thanks @Bunlong - that was my understanding as well. HNY22!

[2021-12-31 09:37] Bunlong commented on #111
@ax0n-pr1me My pleasure. HNY22!

[2021-12-31 23:00] Weilin37 commented on #53
it's still not entirely obvious how this would be done. can anyone make an example with a buttonref implementation?

[2022-01-02 21:50] ericfournier2 commented on #111
Hi,

in the case of react-papaparse, does "remove usage of polyfilled modules" just mean "don't use react-papaparse"?

[2022-01-03 17:09] Bunlong commented on #111
@ericfournier2 @ray-vgw @ericfournier2

It was fixed in latest version `react-papaparse v3.18.2`.

Thank you so much!

[2022-01-14 05:34] gogog22510 commented on #97
I still have this issue using 3.18.0. The return type complained by the compiler is still T[]. Any suggestion?

[2022-01-18 17:01] #52 closed

[2022-01-19 23:21] jadenmazzone opened #115 "Changing header in the config does not seem to be working"
Adding header in the config set to true does not seem to do anything...

[code]

Version 4.0.0

[2022-01-19 23:32] jadenmazzone opened #116 "Feature request: onRemovedFile (or something similar)"
I can't find a way to know when a file has been removed after it has been uploaded. Here is my code below (very similar to your example). For the remove file button, I tried adding an onClick so that I could capture when the user removed the file - but this just overwrites the getRemoveFileProps. So wondering if there is currently a way to know if a file has been removed and if not maybe it could

[2022-01-20 06:51] Dreamacro commented on #106
Hi @Bunlong,  I found some problems with the type of `useCSVReader` after upgrading 4.0.

[code]

https://github.com/Bunlong/react-papaparse/blob/9e415b663ae5cbd619ecad3e9fde3ab161633213/src/useCSVReader.tsx#L599

It looks like to be forced to set `any`

[2022-01-20 21:01] jonstacks commented on #115
@Bunlong, thanks for fixing this so fast. I just updated to 4.0.1 and passing in the header config is working for me now.

[2022-01-21 16:58] Bunlong commented on #115
@jonstacks, my pleasure!

[2022-01-25 17:14] Bunlong opened #119 "Fixed onUploadAccepted signature when a preview is set"
### Bugs

   * Looks like we were passing the raw data to the `onUploadAccepted` function while we should pass a `ParseResult`

[2022-01-25 17:30] Bunlong opened #120 "v4.4.0"
# Features

* [ ] CSVReader multiple files drag and drop

[2022-01-26 02:31] #119 closed

[2022-01-26 17:13] #115 closed

[2022-01-26 17:13] #111 closed

[2022-01-26 17:15] Bunlong opened #121 "Fix typescript type"

[2022-01-31 13:18] Angelfire commented on #116
I updated yesterday and ran into the same problem...

[2022-01-31 14:13] Angelfire commented on #110
Does anyone pay attention to these issues? c.c. @Bunlong

[2022-02-06 12:06] hussamkhatib opened #123 "props to add the input element"
I am adding the CSVReader component in a form element and want to pass an required attribute to the input tag via props.

[2022-02-06 13:38] Bunlong commented on #123
@hussamkhatib Could you please put the sample code in comment?

[2022-02-17 22:10] DanKellyRedcat commented on #116
We ran into the same issue, our solution was to revert back to v3 where you can use handleRemoveFile.

Would be good to have this in v4 or at least a workaround in the changelog

[2022-02-23 07:55] hussamkhatib opened #126 "parsing error in CSVDownloader"
this [example](https://github.com/Bunlong/react-papaparse#button) does not display data in proper format.
As it shows all the data in column 1.
I got it working by passing plain array instead of array of objects.
I had also removed the delimiter option

[2022-03-07 07:53] Zukqurnain opened #127 "how to call getRemoveFileProps Programatically or is there any option we can remove FileProps?"

[2022-03-09 10:20] Smahrt opened #128 "BUG: meta field is returning an empty array"
I'm replicating the example for drag and drop + click upload on the readme and the `meta` field returns an empty array even when I specify `<CSVReader config={{ header: true }} ...`

Version: `react-papaparse: 4.0.2`

Output (console):
<img width="159" alt="image" src="https://user-images.githubusercontent.com/21974790/157421993-20dd5330-5794-4ec2-838e-94d700a22a7b.png">

[2022-03-10 20:16] rishipisipati commented on #116
Running into the same issue. It would be really nice if we could get a handleRemoveFile method to override.

[2022-03-10 21:14] rishipisipati commented on #116
@Angelfire @DanKellyRedcat @jadenmazzone Not sure if you still need assistance, but this is what worked for me to preserve both the onClick method from removeFileProps and calling in my own code.

[code]

[2022-03-16 16:23] brandondurham opened #131 "Possible to add CSVDownloader button attributes?"
I’d like to add some custom attributes (className, data-* attributes, etc.) to the button that `CSVDownloader` renders. Is this possible?

[2022-03-20 07:37] Kasi1294 commented on #128
Same for me

1) Whene I read csv file without config's - complete callback method

![image](https://user-images.githubusercontent.com/28788171/159152738-785f4ac6-43aa-47b7-a8fe-25aba5c96fb9.png)

Result :
![image](https://user-images.githubusercontent.com/28788171/159152768-20dd5911-c91e-4db7-9d13-6407d215c104.png)

2) When I use config's - complete callback method
![image](https://user-images.git

[2022-03-20 12:29] Buvaneshkumar7 commented on #92
@Bunlong can we have it as an Async Function

[2022-04-05 18:49] Prabashi commented on #116
In @rishipisipati 's code, replacing

`getRemoveFileProps.onClick(event);` with

`getRemoveFileProps().onClick(event);` worked for me. Otherwise it gives an error.

[2022-04-16 16:24] nippoolg opened #134 "transformHeader option not working with worker:true?"
I need to make some transformation on header, but can't get this working with transformHeader option? Got exception:
DOMException: Failed to execute 'postMessage' on 'Worker': (header, index) => header could not be cloned.
Is it supposed to work?
Tried simply : transformHeader: (header: string, index: number) => header

[2022-05-18 16:56] robertrico commented on #127
I spread the props into a new object and called the "onClick" with a new click event. This seems kind of hacky, but it achieved what I wanted it to.

<img width="414" alt="Screen Shot 2022-05-18 at 9 54 30 AM" src="https://user-images.githubusercontent.com/7809021/169099231-eab9e5d3-cbd0-45f9-bde6-473520ecc390.png">

[2022-05-26 14:06] sophiabarclay commented on #88
I see the noProgressBar bar has been removed in recent versions. Is there a workaround for this warning on the latest version?

[2022-06-23 03:31] s5s5 opened #135 "Maybe it would be better to make jsonToCSV also work like a pure function."
Hi, thanks for your great work, I have a problem when I upgraded from V3 to V4.
I used `jsonToCSV` as a pure function in V3 and he worked fine, but upgrading to V4, `jsonToCSV` became a hook, which restricts it and it can't be used in I suggest to put `jsonToCSV` and some other pure functions without restricting it to a hook.
Thanks.

[2022-06-23 17:57] Bunlong commented on #135
@s5s5 Okay, I got it. I going to add `jsonToCSV` as a pure function in next version in next week. Thanks!

[2022-07-13 09:51] dr-leevsey commented on #121
Are you planning to add exports to all the related types, not only for main declarations?
In my case I use `readString` and to type `Error` properly in my react state I had to write such a cumbersome thing:
[code]
ofc that works for now, however (apart from the fact this is very odd chunk of code :)) I have absolutely no guarantee that signature will not change in future versions
would be really g

[2022-07-25 08:46] hussamkhatib commented on #123
Hey @Bunlong,
Can you assign this to me? I would like to finish this up.

[2022-07-25 08:49] Bunlong commented on #123
Hi @hussamkhatib

Please Fork and make a Pull request. Thanks!

[2022-07-25 09:14] hussamkhatib opened #136 "Enhancement : Making of elements headless"
Coinsider
- https://tanstack.com/table/v8/docs/guide/introduction#what-is-headless-ui

[2022-07-26 14:10] callum-fairbairn-cazoo commented on #88
Is there any update on this?

[2022-08-04 11:41] hussamkhatib commented on #136
Hey @Bunlong,
It's been 10days, can you have a look and let me know if this sounds good.
I can work on this issue If would like to.

[2022-08-05 09:28] #123 closed

[2022-08-14 03:38] #135 closed

[2022-08-27 00:45] mperone opened #144 "CSVReader onRemoveFile"
I can't seem to figure out from the docs and source code how to handle the behavior of the old onRemoveFile hook for CSVReader. I only see onUploadAccepted (can use to replace my old code for onDrop) and onUploadRejected (can use to replace my old code for onError). How can I run my own logic when the file is removed?

[2022-09-14 03:32] TimJJTing commented on #131
Looking forward to having this feature too!
I'm also wondering, would it be better to export [`download()`](https://github.com/Bunlong/react-papaparse/blob/43e7dfbbac762a23082032d7354b9af7fc0d437e/src/useCSVDownloader.tsx#L31) from `useCSVDownloader` directly so that users can freely implement downloading with whatever html elements?

[2022-09-18 16:39] evbo opened #145 "setState from streaming worker thread?"
Hi,

all of the examples discussed in this prior issue log the `step` results to the console, but how could you store the stream as state to a react component instead of just logging it?

Examples in prior issue about how to stream:
https://github.com/Bunlong/react-papaparse/issues/59

Example in docs:
https://github.com/Bunlong/react-papaparse/blob/d159bc5cfb6f40e63e4ddf5937ef7df5bdb93a8e/docs/sr

[2022-09-21 23:32] JakeHaitsma opened #146 "Enhancement: Await `data` function in `CSVDownloader`"
I have a scenario where I want a download button (`CSVDownloader`) to trigger and await an asynchronous data fetch before downloading the CSV.
Currently, I am rendering two components (one to kick off the data request and `CSVDownloader` to download once that data has been retrieved. It would be nice if `CSVDownloader` awaited `data` when it is provided as a function so the extra component was unn

[2022-09-23 20:03] aalbrighti2p commented on #128
I am seeing the same result. The 'meta' property of 1st parameter in onUploadAccepted callback is returning as an empty array.

my config prop
`           {
                header: true,
                skipEmptyLines: true,
                dynamicTyping: true,
            }`

[2022-11-03 18:05] jtorreslesp commented on #134
I am also getting this error. Please let us know how to resolve this, thanks.

[2022-11-22 05:33] nalnir opened #148 "Function to parse .csv file"
It's just a question if there is an exposed pure function that takes .csv file and parses it.
According to docs I only see the CSVReader. I use my own element to browse and upload files so I only need a function for parsing, but I can't find it in docs. I see only readString, jsonToCSV, readRemoteFile but nothing like csvFileParse or something similar.